[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/vulkan-hpp"]
	path = external/vulkan-hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
